<div class='user-show'>
  <div class='user-profile'>
    <div class='user-image-content'>
      <% if @user.user_image.attached? %>
        <% image_picture = @user.user_image %>
      <% else %>
        <% image_picture = 'user_icon.png' %>
      <% end %>
      <% if user_signed_in? && current_user.id == @user.id %>
        <label id='user-image-edit'>
          <%= image_tag(image_picture, class:'user-image') %>
          <%= form_with model: @user, url: user_path(@user.id), method: :patch, local: true do |f| %>
            <%= f.file_field :user_image, id:'user-image', class:'hidden'%>
            <%= f.submit '変更する', id:'user-image-btn', class:'hidden' %>
          <% end %>
        </label>
      <% else %>
        <%= image_tag(image_picture, class:'user-image') %>
      <% end %>
    </div>
    <p>ユーザー名：<%= @user.nickname%></p>
  </div>
  <div class='user-comment-area'>
    <div class='user-comment-title'>コメント：</div>
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= form_with model: @user, url: user_path(@user.id), method: :patch, local: true do |f| %>
        <div class="user-comment">
          <%= f.text_area :comment, class:'input-style user-comment-input', placeholder:'こんにちは！', maxlength: '250' %>
          <%= f.submit '変更する', class:'post-btn' %>
        </div>
      <% end %>
    <% else%>
      <% if @user.comment.present? %>
        <div class='user-comment-content'>
          <%= @user.comment %>
        </div>
      <% else %>
        こんにちは！
      <% end %>
    <% end %>
  </div>
</div>
<h2 class='call-title'>過去の投稿</h2>
  <%= render partial: 'shared/posts_index', locals: { posts: @posts } %>