<div class='user-show'>
  <div class='user-profile'>
    <div class='user-image-content'>
      <% if @user.user_image.attached? %>
        <% image_picture = @user.user_image %>
      <% else %>
        <% image_picture = 'user_icon.png' %>
      <% end %>
      <% if user_signed_in? && current_user.id == @user.id %>
        <label id='user-image-edit'>
          <%= image_tag(image_picture, class:'user-image') %>
          <%= form_with model: @user, url: user_path(@user.id), method: :patch, local: true do |f| %>
            <%= f.file_field :user_image, id:'user-image', class:'hidden'%>
            <%= f.submit '変更する', id:'user-image-btn', class:'hidden' %>
          <% end %>
        </label>
      <% else %>
        <%= image_tag(image_picture, class:'user-image') %>
      <% end %>
    </div>
    <p>ユーザー名：<%= @user.nickname%></p>
  </div>
  <div class='user-comment-area'>
    <div class='user-comment-title'>コメント：</div>
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= form_with model: @user, url: user_path(@user.id), method: :patch, local: true do |f| %>
        <div class="user-comment">
          <%= f.text_area :comment, class:'input-style user-comment-input', placeholder:'こんにちは！', maxlength: '250' %>
          <%= f.submit '変更する', class:'post-btn' %>
        </div>
      <% end %>
    <% else%>
      <% if @user.comment.present? %>
        <div class='user-comment-content'>
          <%= @user.comment %>
        </div>
      <% else %>
        こんにちは！
      <% end %>
    <% end %>
  </div>
</div>

<h2 class='call-title'>過去の投稿</h2>

<div class='index-post-content'>
  <% @posts.each do |post| %>
    <div class='index-contents'>
      <%= link_to image_tag(post.movie_main_thumbnail, class:'index-thumbnail'), post_path(post.id) %>
      <%# <% midoku = Comment.where(comments: { post_id: post.id }).where(comments: { kidoku: false }) %> %>

      <%= image_tag 'newicon.png', class:'newicon' %>

      <% if post.message.present? %>
        <div class='index-message-box'> 
          <%= link_to post.message, post_path(post.id), class:'index-message-content' %>
        </div>
      <% end %>
      <div class='movie-tag-list index-message-content'>
        関連タグ：
          <% post.movie_tags.each do |tag| %>
            <%= tag.movie_tag_name if tag.present? %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class='page-change'>
  <%= paginate posts %>
</div>