<h1>紹介ページ投稿</h1>

<%= form_with model: @post_form, url: posts_path, method: :post, id: 'new_post', local: true do |f| %>

<%= render 'shared/error_messages', model: f.object %>

メイン動画<br>
<%= f.text_field :movie_main, class:"price-input", id:"movie_main_form", placeholder:"例）300" %>
<%= f.text_field :movie_main_embedded, class:"price-input", id:"movie_main_embedded_form", placeholder:"例）300" %>
<%= f.text_field :movie_main_thumbnail, class:"price-input", id:"movie_main_thumbnail_form", placeholder:"例）300" %><br>
メイン動画タグ(任意)<br>
<%= f.text_field :movie_tags, class:"movie-main-tag", id:"movie_firsttag", placeholder:"例）300" %>
<%= f.text_field :movie_tags, class:"movie-main-tag", id:"movie_secondtag", placeholder:"例）300" %>
<%= f.text_field :movie_tags, class:"movie-main-tag", id:"movie_thirdtag", placeholder:"例）300" %>
<%= f.text_field :movie_tag_name, class:"movie-main-tag", id:"movie_main_tags_merged", placeholder:"ここに左三つを`/$で接続したものを表示" %><br>
サブ動画1(任意)<br>
<%= f.text_field :movie_left, class:"price-input", id:"movie_left_form", placeholder:"例）300" %>
<%= f.text_field :movie_left_embedded, class:"price-input", id:"movie_left_embedded_form", placeholder:"例）300" %><br>
サブ動画2(任意)<br>
<%= f.text_field :movie_right, class:"price-input", id:"movie_right_form", placeholder:"例）300" %>
<%= f.text_field :movie_right_embedded, class:"price-input", id:"movie_right_embedded_form", placeholder:"例）300" %><br>
VTuberイラスト(任意)<br>
<%= f.file_field :talent_image, id:"talent-image" %><br>
名前<br>
<%= f.text_field :talent_name, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
所属事務所(任意)<br>
<%= f.text_field :talent_belongs, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
公式チャンネル(任意)<br>
<%= f.text_field :talent_channel, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
公式X(任意)<br>
<%= f.text_field :talent_x, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
公式ホームページ(任意)<br>
<%= f.text_field :talent_hp, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
投稿者からのコメント(任意)<br>
<%= f.text_field :message, class:"price-input", id:"item-price", placeholder:"例）300" %><br>
VTuberタグ(任意)<br>
<%= f.text_field :talent_tags, class:"talent-tag", id:"talent_firsttag", placeholder:"例）300" %>
<%= f.text_field :talent_tags, class:"talent-tag", id:"talent_secondtag", placeholder:"例）300" %>
<%= f.text_field :talent_tags, class:"talent-tag", id:"talent_thirdtag", placeholder:"例）300" %>
<%= f.text_field :talent_tag_name, class:"talent-tag", id:"talent_tags_merged", placeholder:"ここに左三つを`/$で接続したものを表示" %><br>

<div class="post-btn-contents">
  <%= f.submit "投稿する" ,class:"post-btn" %>
  <%=link_to 'もどる', root_path, class:"back-btn" %>
</div>
<% end %>