<h1 class='call-title'>動画検索</h1>

<div class='search-form' id="detailed-search-result-wrapper">
  <%= search_form_for @q, url: search_posts_path, html: {id: "detailed-search-form"} do |f| %>
    <h3>動画から検索</h3>
    <div class="search-group">
      <div class="search-field">
        <%= f.label :'search-movie-tag', '動画タグ', for:'search-movie-tag' %><br>
        <%= f.text_field :movie_tags_movie_tag_name_cont, placeholder: '動画タグ', class:'input-style short-input', id:'search-movie-tag' %><br>
        <%= f.label :message_cont, 'メッセージ' %><br>
        <%= f.text_field :message_cont, placeholder: 'メッセージ', class:'input-style short-input' %><br>
      </div>
      <%= render partial: "shared/movie_tag_list" %>
    </div>

    <h3>VTuberから検索</h3>
    <div class="search-group">
      <div class="search-field">
        <%= f.label :talent_tags_talent_tag_name_cont, 'VTuberタグ', for:'search-talent-tag' %><br>
        <%= f.text_field :talent_tags_talent_tag_name_cont, placeholder: 'VTuberタグ', class:'input-style short-input', id:'search-talent-tag' %><br>
        <%= f.label :talent_name_cont, '名前' %><br>
        <%= f.text_field :talent_name_cont, placeholder: '名前', class:'input-style short-input' %><br>
        <%= f.label :talent_belongs_cont, '所属事務所' %><br>
        <%= f.text_field :talent_belongs_cont, placeholder: '所属事務所', class:'input-style short-input' %><br>
      </div>
      <%= render partial: "shared/talent_tag_list" %>
    </div>
    <%= f.submit '検索', class:'post-btn' %>
  <% end %>
</div>

<% posts_uniq = @posts.uniq %>
<%= render partial: "shared/posts_index", locals: { posts: posts_uniq } %>
