<%# 動画 %>

<div class='tops-content'>
  <div class='left-content'>
    <h1 class='call-title'>イチオシ動画</h1>
    <div class='movie-main-content'>
      <iframe src='https://www.youtube.com/embed/<%= @post.movie_main_embedded %>' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe><br>
      <div class='movie-tags'>
        関連タグ：
        <% @post.movie_tags.each do |tag| %>
          <%= (link_to  tag.movie_tag_name, posts_path(movie_tag: tag.movie_tag_name)) if tag.present? %>
        <% end %>
      </div>
    </div>

    <% unless @post.movie_left_embedded == '' && @post.movie_right_embedded == ''%>
      <h3>オススメ動画</h3>
      <% if @post.movie_left_embedded != '' %>
        <div class='movie-left'><iframe src='https://www.youtube.com/embed/<%= @post.movie_left_embedded %>' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe></div>
      <% end %>
      <% if @post.movie_right_embedded != '' %>
        <div class='movie-right'><iframe src='https://www.youtube.com/embed/<%= @post.movie_right_embedded %>' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe></div>
      <% end %>
    <% end %>
  </div>

  <%# タレント紹介 %>
  <div class='right-content'>

    <%# メニューボタン %>
    <% if user_signed_in? && @post.user_id == current_user.id%>
      <div id='menu-btn'>
        <div><%= image_tag 'ham-menu-image.png', class:'menu-icon' %></div>
        <div id='menu_lists' class='hidden'>
          <div class='menu-list'>
            <%= link_to '編集', edit_post_path(@post.id) %>
          </div>
          <div class='menu-list'>
            <%= link_to '削除', post_path(@post.id), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %>
          </div>
        </div>
      </div>
    <% end %>

    <%# タレント詳細 %>
    <h1 class='call-title'>VTuber紹介</h1>
    <% if @post.talent_image.attached? %>
      <%= image_tag @post.talent_image, class:'talent-image' %>
    <% end %>

    <table border='1' class='talent-table'>
      <tbody class='talent-introduce'>
        <tr>
          <th class='list-head'>名前</th>
          <td class='table-indent'>
            <%= link_to @post.talent_name, posts_path(talent_name: @post.talent_name) %>
          </td>
        </tr>
        <tr>
          <th class='list-head'>関連タグ</th>
          <td class='table-indent'>
            <% @post.talent_tags.each do |tag| %>
              <%= (link_to tag.talent_tag_name, posts_path(talent_tag: tag.talent_tag_name)) if tag.present? %>
            <% end %>
          </td>
        </tr>
        <% if @post.talent_belongs != '' %>
        <tr>
          <th class='list-head'>所属事務所</th>
          <td class='table-indent'>
            <%= (link_to @post.talent_belongs, posts_path(talent_belongs: @post.talent_belongs)) if @post.talent_belongs.present? %>
          </td>
        </tr>
        <% end %>
        <% if @post.talent_channel != '' %>
          <tr><td colspan='2' class='official-link'><%= link_to 'youtube公式チャンネル(外部リンク)', @post.talent_channel, target: :_blank, rel: 'noopener noreferrer' %></td></tr>
        <% end %>
        <% if @post.talent_x != '' %>
          <tr><td colspan='2' class='official-link'><%= link_to '公式X(外部リンク)', @post.talent_x, target: :_blank, rel: 'noopener noreferrer' %></td></tr>
        <% end %>
        <% if @post.talent_hp != '' %>
          <tr><td colspan='2' class='official-link'><%= link_to '公式ホームページ(外部リンク)', @post.talent_hp, target: :_blank, rel: 'noopener noreferrer' %></td></tr>
        <% end %>
        <tr><th colspan='2'>
          <div class='show-user-name'>
            <%= render partial: 'shared/user_image', locals: { user: @post.user } %><p>からのコメント</p>
          </div>
        </th></tr>
        <% if @post.message != '' %>
          <tr><td colspan='2'>
            <div class="comment-line-height"><%= @post.message %></div>
          </td></tr>
        <% else %>
          <tr><td colspan='2'>コメントはまだありません。</td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class='bottom-content'>
  <h4>＜<%= @comments.length %>件のコメント＞</h4>
  <div class='container'>
    <% if user_signed_in? %>
      <div class='show-user-colon'>
        <%= render partial: 'shared/user_image', locals: { user: current_user } %>：
      </div>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :content, placeholder: 'コメントする', class:'input-style show-comment-input' %>
        <% if current_user.id == @post.user_id %>
          <% form.text_field :kidoku, value: 'true' %>
        <% else %>
          <% form.text_field :kidoku, value: 'false' %>
        <% end %>
        <%= form.submit '送信', class:'post-btn' %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>

  <div class='comments'>
    <% @comments.each do |comment| %>
      <div class='show-each-comment'>
        <div class='show-user-colon'>
          <%= render partial: 'shared/user_image', locals: { user: comment.user } %>：
        </div>
        <div class='comment-content' >
          <%= comment.content %>
        </div>
      </div>
    <% if current_user.id == @post.user_id %>
      <% comment.update(kidoku: 'true') %>
    <% end %>
    <% end %>
  </div>
</div>